#main
  //video header and navigation divs.
  .video-container#header
    video(autoplay=true, height="720", loop=true, poster="static/img/wine.jpg", width="1280")
      source(src="static/video/mp4/wine.mp4" type="video/mp4")
      source(src="static/video/webm/wine.webm" type="video/webm")
  .container-fluid.no-padding.no-margin.relative.h-100#home
    nav.fixed.top.right.navigation.white-text.row.full-width.up#navigation
      .col-12
        ul.list-inline.float-right
          li.list-inline-item
            a(href="#header") Inicio
          li.list-inline-item
            a(href="#menu") Servicios
          li.list-inline-item
            a(href="#gallery") Galeria
          li.list-inline-item
            a(href="#contact-form") Contacto
          li.list-inline-item
            a(href="#location") Como llegar
    .row.no-padding.h-100
      .white-text.col-12.h-100.no-padding.text-center#parent
        .h-100#child
          img(src="static/img/logo.png" width="200")
          h1.satisfy.title.no-margin Alquileres y Eventos
          p#is-open
            i.fa.fa-clock-o Abierto Ahora

    .black.large-padding.white-text.full-width.absolute.up#description
      .row
        .col-6.white-text.medium.mx-auto.text-center El servicio con la mejor calidad...
        .col-6.hidden#sticky-navigation
            nav.text-right.navigation
              ul.list-inline
                li.list-inline-item
                  a(href="#header") Inicio
                li.list-inline-item
                  a(href="#menu") Servicios
                li.list-inline-item
                  a(href="#gallery") Galeria
                li.list-inline-item
                  a(href="#contact-form") Contacto
                li.list-inline-item
                  a(href="#location") Como llegar
  // Brief description of services and prices of company
  .text-center.relative#menu
    .absolute.white#menu-title
      h2.satisfy.title#service  Servicios
    .row
      .col-3.services(style="background-image:url(static/img/servicios/sillas-thumb.jpg);")
        .screen
          .row.full-height.t-div
            .col-12.white-text.t-child
              h3.satisfy.subtitle Alquiler de Sillas
              p.no-margin 10.00 NIO
      .col-3.services(style="background-image:url(static/img/servicios/bodas-thumb.jpg);")
        .screen
          .row.full-height.t-div
            .col-12.white-text.t-child
              h3.satisfy.subtitle Organizacion de bodas
              p.no-margin 100.00 NIO
      .col-3.services(style="background-image:url(static/img/servicios/mesas-thumb.jpg);")
        .screen
          .row.full-height.t-div
            .col-12.white-text.t-child
              h3.satisfy.subtitle Alquiler de Mesas
              p.no-margin 15.00 NIO
      .col-3.services(style="background-image:url(static/img/servicios/quinceaños-thumb.jpg);")
        .screen
          .row.full-height.t-div
            .col-12.white-text.t-child
              h3.satisfy.subtitle Organizacion de quinceaños
              p.no-margin 100.00 NIO
      .col-3.services(style="background-image:url(static/img/servicios/manteles-thumb.jpg);")
        .screen
          .row.full-height.t-div
            .col-12.white-text.t-child
              h3.satisfy.subtitle Alquiler de Manteles
              p.no-margin 5.00 NIO
      .col-3.services(style="background-image:url(static/img/servicios/babyshower-thumb.jpg);")
        .screen
          .row.full-height.t-div
            .col-12.white-text.t-child
              h3.satisfy.subtitle Organizacion de Baby-Shower
              p.no-margin 150.00 NIO
      .col-3.services(style="background-image:url(static/img/servicios/buffet-thumb.jpg);")
        .screen
          .row.full-height.t-div.full-width
            .col-12.white-text.t-child.text-center
              h3.satisfy.subtitle Buffet
              p.no-margin 170.00 NIO
      .col-3.services(style="background-image:url(static/img/servicios/utensilios-thumb.jpg);")
        .screen
          .row.full-height.t-div
            .col-12.white-text.t-child
              h3.satisfy.subtitle Alquiler de Utensilios
              p.no-margin 30.00 NIO
  // Slide for show a preview of services.
  #gallery
    b-carousel#gallery-carousel(controls=true, background="#ababab", :interval="2000", v-model="slide", @sliding-start="onSlideStart", @sliding-end="onSlideEnd", img-width="1024", img-height="480")
      b-carousel-slide(img-src="static/img/babyshower1024x480.jpeg")
      b-carousel-slide(img-src="static/img/birthday.jpeg")
      b-carousel-slide(img-src="static/img/homepic-1024x480.jpg")
      b-carousel-slide(img-src="static/img/buffet.jpg")
      b-carousel-slide(img-src="static/img/mantel.jpeg")
      b-carousel-slide(img-src="static/img/tables.jpeg")
      b-carousel-slide(img-src="static/img/wedding1024x480.jpg")
  // Card with lorem ipsum for a brief description of slogan or mision and vision of company.
  .container
    .card.white.black-text.text-center.relative
      h3.medium.slim En <strong class="satisfy medium"> Alquileres y Eventos</strong> el cliente no es una opinion, es una ley
      p.top-space Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        |         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        |         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        |         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        |         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        |          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        strong.satisfy - CEO
  // Contact form to send email for more information. TODO: Add facebook API support
  .black.white-text.full-height.container-fluid.no-padding#contact-form
    .row.full-height
      .col-12.contact-wrap.no-padding
        .form-wrapper
          .form-div
            form#form
              .input-wrap
                input(type="text", name="name", placeholder="Nombre *", maxlength="33", required=true).feedback-input
                input(type="tel", name="phone", placeholder="Telefono *", maxlength="33", required=true).feedback-input
              input(type="email", name="email", placeholder="Correo *" maxlength="99" required=true).feedback-input
              textarea(name="message", placeholder="Mensaje *", maxlength="999" required=true).feedback-input.message
              button(type="submit").send-button Contactanos!

  // Map with location using Google Maps API.
  #location
    #map
      .black.large-padding.white-text.text-center.medium#mensaje
